@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
@import "compass/css3";
/* start: global styles */
body {
    font-family: "Montserrat", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.containing {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.flexing {
  display: flex;
  justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Montserrat", "Sans-serif";
    font-weight: 500;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.0;
    margin-bottom: 1rem;
}

p {
    margin: 0 0 1rem;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
    max-height: 400px;
    height: calc(100vh);
    position: relative;
}

header {
    background-color: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.hamburger-menu {
    background-color: black;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

#close-flyout {
    display: none;
}

header ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}

header ul li a:hover,
header ul li a.active {
    color: goldenrod;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color: goldenrod;
}

#active {
  border: 2px solid #000;
  padding: 5px 8px;
  text-align: center;
  letter-spacing: 2px;
}
/* end: header styles */

/* start: hero section styles */
#hero {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0 0 0;
    padding: 0 0 0;
}


#hero .img {
  color: gray;
}

#hero .hero-text {
    position: absolute;
    top: 80%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: black;
    width: 500px;
    text-align: center;
  }
  

#hero h2 {
    font-size: 1em;
    background:#032030;
    border: none;
    color:red ;
    padding: 5px 20px;
    line-height: 1.5;
    cursor: pointer;
    margin-top: 6em;
    text-align: left;
}

#hero .hero-text p {
    color: white;
    line-height: 1.5em;
    font-weight: 200;
    font-size: 0.9em;
}
/* end: hero section styles */

/* start: how it works styles */
#how-it-works {
  padding: 8rem 0 .2rem;
  background: white;
  text-align: center;
}

#how-it-works p {
  font-size: .8em;
}

#how-it-works h2 {
  margin-bottom: 3rem;
}

#how-it-works .flex > div {
  width: 30%;
}

#how-it-works h4 {
  color: #343a40;
  margin-top: 1rem;
}

#how-it-works span.fas {
  color: #f69314;
  font-size: 35px;
}
/* end: how it works styles */

  
 /* start:form styles */    
  .containers {
    border-collapse: collapse;
    width: 820px;
    margin: 0 auto;
    position: relative;
    margin: 5px auto 55px auto;
  }
  
  #contact {
    background: #F9F9F9;
    padding: 25px 25px 25px 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h4 {
    margin: 5px 0 3px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }

  #asterick {
    color: red;
  }

  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 370px;
  }

  .firsty {
    float: left;
    
  }

  .secondy {
    float: right;
  }

  input[type=email],
  input[type=country],
  input[type=number],   
  input[type=text], select {
    width: 100%;
    padding: 12px 2px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 400 12px/16px "Montserrat", sans-serif;
  }

  input[type=email]:hover,
  input[type=number]:hover,
  input[type=text]:hover {
    background-color: whitesmoke;
  }

  #title:hover,
  #country:hover {
    background-color: whitesmoke;
  }

  #contact button[type="submit"] {
    cursor: pointer;
    width: 70%;
    border: none;
    background: #343a40;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #f69314;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
/* end: form styles */


/* start: file upload */
$silver: #bdc3c7;
$purple:#9b59b6;
$white: #ecf0f1;
$black: #2c3e50;
$blue: #032030;


#file-upload {
    position: absolute;
}

label[for="file-upload"]{
  margin-bottom: 2rem;
  display:block;
  background:darken($silver ,20%);
  cursor:pointer;
  &:hover{background:darken($blue ,17%)}
}

#filename{
  padding:0.1em;
  float:left;
  width:150px;
  white-space: nowrap;
  overflow:hidden;
  background:darken($silver ,10%);
}
/* end : file upload */

/* start: footer styles */
footer {
    background: #032030;
    padding-top: 8em;
    padding-bottom: 1em;
  }
  
  footer .flex {
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
  }
  
  footer h4 {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  
  footer h5.follow-us {
    margin-top: 1rem;
    color: white;
  }
  
  footer .footer-about {
    width: 47%;
  }
  
  footer .footer-about p {
    width: 65%;
    color: white;
    font-weight: 1em;
  }
  
  footer .footer-quick-links {
    width: 16%;
  }
  
  footer .footer-quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer .footer-quick-links ul li {
    margin: 10px 0;
  }
  
  footer .footer-quick-links ul li a {
    color: white;
    text-decoration: none;
  }
  
  footer .footer-quick-links ul li a:hover {
    color: #fff;
  }
  
  footer .footer-subscribe {
    width: 35%;
  }
  
  #subscribe-container {
    position: relative;
  }
  
  footer .footer-subscribe input {
    border-radius: 30px;
    height: 43px;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    border: 1px solid #6c757d;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
  }
  
  footer button.right-rounded {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: white;
    font-size: 16px;
    color: #212122;
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
  }
  
  footer button.right-rounded:hover {
    background:goldenrod;
  }
  
  footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer .footer-subscribe ul li {
    display: inline-block;
    margin: 0 16px;
  }
  
  footer .footer-subscribe ul li:first-child {
    margin-left: 0;
  }
  
  footer .footer-subscribe ul li a {
    text-decoration: none;
    color:white;
  }
  
  footer .footer-subscribe ul li a:hover {
    color: #212122;
  }
  
  footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
    color: white;
  }
  /* end: footer styles */

  /* start: media queries */
@media (max-width: 991px) {
    #logo {
        top: 1px;
    }
  
    #nav-toggle {
        display: block;
    }
  
    #active {
      border: 2px solid #fff;
      padding: 2px 0.5px;
      text-align: left;
      letter-spacing: 2px;
    }
  
    nav ul {
        position: fixed;
        background: #fff;
        right: -100%;
        top: 0;
        margin: 0;
        padding: 2rem;
        height: 100%;
        width: 300px;
        box-sizing: border-box;
        box-shadow: 5px 0 10px 3px #999;
    }
  
    #close-flyout {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        font-size: 30px;
        color: #777;
        cursor: pointer;
        display: block;
        line-height: 1;
        margin: 0;
    }
  
    nav ul li {
        display: block;
        margin: 20px 0;
    }
  
    nav ul li:first-child {
        margin-top: 50px;
    }
    nav ul li a {
        font-size: 20px;
        color: #212529;
    }
  
    nav ul li a.active,
    nav ul li a:hover {
        color: #f69314;
    }
  
    #adex-logo {
      margin-left: 2em;
    }
  
    #schedule-services h2 {
      display: inline-block;
      border-bottom: 4px solid #032030;
      margin-left: 300px;
    }
  
    .upcoming-classes-box {
      padding: 2rem 1.5rem 0.5rem;
    }
  
    .upcoming-classes-box h4 {
      margin-bottom: 1rem;
    }
  
    .membership-cards-box .inner-container {
      padding: 0.5rem 1.5rem 1.5rem;
      height: 100%;
      box-sizing: border-box;
    }
  
    .membership-cards-box h2 {
      font-size: 3.5rem;
    }
  
    .personal-trainer-box {
      padding: 2rem 1.5rem 1.5rem;
    }
  
    .personal-trainer-box p {
      font-size: 0.85rem;
    }

    .containers {
      width: 95%;
    }

    fieldset {
      width: 330px;
    }

    
  
  @media (max-width: 767px) {
  
    .container {
        max-width: 540px;
    }

  
    #active {
      border: 2px solid #fff;
      padding: 2px 0.5px;
      text-align: left;
      letter-spacing: 2px;
    }

    #hero .hero-text {
      width: 400px;
    }

    #hero h2 {
      font-size: .9em;
    }

    #hero p {
      font-size: 0.2em;
    }
  
    #fact .flex > img {
        display: none;
    }
  
    #fact .flex > div {
        width: 100%;
    }
  
    .flexing {
      display: block;
    }
  
    .flexing .box {
      margin: 0 auto;
      width: 100% !important;
      margin-top: 3rem;
    }
  
    .flexing .box:first-child {
      margin-top: 0;
    }

    .trade{
      width: 50%;
    }
  
    .trader{
      width: 50%;
    }
  
    #fact h2{
      text-align: center;
    }
  
    #fact p{
      text-align: center;
    }
  
    #schedule-services .flexing {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
    }
  
    #schedule-services .flexing > div.upcoming-classes-box,
    #schedule-services .flexing > div.membership-cards-box {
      width: 48%;
    }
  
    #schedule-services .flexing > div.personal-trainer-box {
      width: 100%;
      margin-top: 3rem;
      background-size: cover;
    }
  
    #schedule-services h2 {
      display: inline-block;
      border-bottom: 4px solid #032030;
      margin-left: 220px;
  }
  
    .personal-trainer-box p {
      font-size: 0.95rem;
    }
  
    .membership-cards-box .inner-container {
      background-size: cover;
    }
    
    .name,.email{
        width: 100%;
      }

    .firsty {
      float: none;  
    }
    
    .secondy {
      float: none;
    }

    fieldset {
      width: 95%;
    }

    #file {
      width: 330px;
    }

    #how-it-works {
      padding: 5rem 0 1rem;
    }

    #how-it-works .flex {
      display: block;
    }

    #how-it-works .flex > div {
      width: 100%;
      margin-top: 2rem;
    }
  

    footer {
      padding: 6rem 0;
    }
  
    footer .flex {
        flex-wrap: wrap;
    }
  
    footer .flex > div {
        width: 100%;
        margin-top: 1rem;
    }
  
    footer .flex > div:first-child {
        margin-top: 0;
    }
  
    footer .footer-about p {
        font-size: 1rem;
        width: 100%;
    }
  
    footer .footer-subscribe input {
        width: 90%;
    }
  
    footer h5.follow-us {
        margin-top: 2rem;
    }
  }
  
  @media (max-width: 500px) {
    #hero .hero-text {
        width: 330px;
    }

    #hero h2 {
      font-size: .7em;
    }

    #how-it-works {
      padding: 5rem 0 1rem;
    }

    #how-it-works .flex {
      display: block;
    }

    #how-it-works .flex > div {
      width: 100%;
      margin-top: 2rem;
    }

    .name,.email{
      width: 100%;
    }
  
    #active {
      border: 2px solid #fff;
      padding: 2px 0.5px;
      text-align: left;
      letter-spacing: 2px;
    }
  
    .trade{
      width: 100%;
    }
  
    .trader{
      width: 100%;
    }
  
    #fact h2{
      text-align: center;
    }
  
    #fact p{
      text-align: center;
    }
  
    #schedule-services .flexing > div {
      width: 100% !important;
      margin-top: 3rem;
    }
  
    #schedule-services .flexing > div:first-child {
      margin-top: 0;
    }
  
    #schedule-services h2 {
      display: inline-block;
      border-bottom: 4px solid #032030;
      margin-left: 110px;
  }
  
    .membership-cards-box .inner-container {
      min-height: 500px;
    }

    .containers {
      width: 400px;
      position: relative;
    }
    
    #contact {
      background: #F9F9F9;
      padding: 25px 25px 25px 5px;
      margin: 150px 0;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    #contact h4 {
      margin: 5px 0 3px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }
  
    #asterick {
      color: red;
    }
  
    
    fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }
  
    input[type=email],
    input[type=country],
    input[type=number],   
    input[type=text], select {
      width: 100%;
      padding: 12px 2px;
      margin: 2px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font: 400 12px/16px "Montserrat", sans-serif;
    }
  
    input[type=email]:hover,
    input[type=number]:hover,
    input[type=text]:hover {
      background-color: whitesmoke;
    }
  
    #title:hover,
    #country:hover {
      background-color: whitesmoke;
    }
  
    #contact button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #343a40;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
    }
    
    #contact button[type="submit"]:hover {
      background: #f69314;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    
    #contact button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
  
    footer {
        padding: 4rem 0;
    }
  }
  
  @media (max-width: 400px) {
    #hero .hero-text {
      max-width: 275px;
      width: 100%;
    }
  
    nav ul {
      width: 200px;
    }
  }
  /* end: media queries */